<p id="notice"><%= notice %></p>

<p>
  <h1>Hello, <%= @user.name %>!</h1>
  <%= gravatar_for @user %>
</p>

<%= form_for(@user) do |f| %>
	<%= f.error_messages %>
	<div class="field">
		Will Alicia Key's national anthem be shorter than 2 minutes, 10 seconds?<br />
		Yes: <%= f.radio_button :anthemOver, true %><br />
		No: <%= f.radio_button :anthemOver, false %><br />
		Bet: <%= f.select :anthemMinutesBet, (1..20).to_a %>
	</div>

	<div class="field">
		Between the opening kickoff and the final whistle (excluding halftime and commercials), how many times will the game be referred to "Harbaugh Bowl" or "HarBowl":<br />
		2 or fewer times: <%= f.radio_button :harbowl, true %><br />
		3 or more times: <%= f.radio_button :harbowl, false %><br />
		Bet: <%= f.select :tyreeShownOverBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will win the coin toss?<br />
		49ers: <%= f.radio_button :coinToss, true %><br />
		Ravens: <%= f.radio_button :coinToss, false %><br />
		Bet: <%= f.select :coinTossBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will the total points scored be over or under 48.5?<br />
		Over: <%= f.radio_button :pointsOver, true %><br />
		Under: <%= f.radio_button :pointsOver, false %><br />
		Bet: <%= f.select :pointsOverBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will score first?<br />
		49ers: <%= f.radio_button :scoreFirst, true %><br />
		Ravens: <%= f.radio_button :scoreFirst, false %><br />
		Bet: <%= f.select :scoreFirstBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will score last?<br />
		49ers: <%= f.radio_button :scoreLast, true %><br />
		Revens: <%= f.radio_button :scoreLast, false %><br />
		Bet: <%= f.select :scoreLastBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will there be any scoreless quarters?<br />
		Yes: <%= f.radio_button :anyScorelessQuarters, true %><br />
		No: <%= f.radio_button :anyScorelessQuarters, false %><br />
		Bet: <%= f.select :anyScorelessQuartersBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will win the game with the spread (49ers -4.5)?<br />
		Patriots: <%= f.radio_button :spread, true %><br />
		Giants: <%= f.radio_button :spread, false %><br />
		Bet: <%= f.select :spreadBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will the yardage of the first touchdown be:<br />
		More than 15 yards: <%= f.radio_button :firstTouchdownYardageOver, true %><br />
		15 yards or less: <%= f.radio_button :firstTouchdownYardageOver, false %><br />
		Bet: <%= f.select :firstTouchdownYardageOverBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		The longest touchdown will be:<br />
		50 or more yards: <%= f.radio_button :longestTD, true %><br />
		Less than 50 yards: <%= f.radio_button :longestTD, false %><br />
		Bet: <%= f.select :longestTDBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will take the first timeout?<br />
		49ers: <%= f.radio_button :firstTimeout, true %><br />
		Ravents: <%= f.radio_button :firstTimeout, false %><br />
		Bet: <%= f.select :firstTimeoutBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will commit the most turnovers?<br />
		49ers (+0.5): <%= f.radio_button :moreTurnovers, true %><br />
		Ravens: <%= f.radio_button :moreTurnovers, false %><br />
		Bet: <%= f.select :moreTurnoversBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will there be any missed field goals?<br />
		Yes: <%= f.radio_button :missedFieldGoal, true %><br />
		No: <%= f.radio_button :missedFieldGoal, false %><br />
		Bet: <%= f.select :missedFieldGoalBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will both teams have the lead at some point <b>in the first half</b>?<br />
		Yes: <%= f.radio_button :bothTeamsLeadInFirstHalf, true %><br />
		No: <%= f.radio_button :bothTeamsLeadInFirstHalf, false %><br />
		Bet: <%= f.select :bothTeamsLeadInFirstHalfBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Which team will punt more times?<br />
		49ers (+1.5): <%= f.radio_button :morePunts, true %><br />
		Ravens: <%= f.radio_button :morePunts, false %><br />
		Bet: <%= f.select :morePuntsBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Which team will convert the most first downs?<br />
		49ers: <%= f.radio_button :moreFirstDowns, true %><br />
		Ravens (+1.5): <%= f.radio_button :moreFirstDowns, false %><br />
		Bet: <%= f.select :moreFirstDownsBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Which value will be higher?<br />
		Number of yards gained by Randy Moss - 7: <%= f.radio_button :mossVersusBryantResult, true %><br />
		Number of points Kobe Bryant scores against Detroit tonight: <%= f.radio_button :mossVersusBryantResult, false %><br />
		Bet: <%= f.select :mossVersusBryantBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will catch a pass first?<br />
		Michael Crabtree: <%= f.radio_button :firstCatch, true %><br />
		Anquan Boldin: <%= f.radio_button :firstCatch, false %><br />
		Bet: <%= f.select :firstCatchBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Which quarterback will be first to reach 100 passing yards?<br />
		Kaepatrick: <%= f.radio_button :firstTo100Yards, true %><br />
		Flacco: <%= f.radio_button :firstTo100Yards, false %><br />
		Bet: <%= f.select :firstTo100YardsBet, (1..20).to_a %>
	</div>

<% end %>
