<p id="notice"><%= notice %></p>

<p>
  <h1>Hello, <%= @user.name %>!</h1><br />
  <%= gravatar_for @user %>
</p>

<%= form_for(@user) do |f| %>
	<%= f.error_messages %>
	<div class="field">
		Will the national anthem be shorter than 1 minute, 35 seconds?<br />
		Yes: <%= f.radio_button :anthemOver, true %><br />
		No: <%= f.radio_button :anthemOver, false %><br />
		Bet: <%= f.select :anthemMinutesBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will win the coin toss?<br />
		Patriots: <%= f.radio_button :coinToss, true %><br />
		Giants: <%= f.radio_button :coinToss, false %><br />
		Bet: <%= f.select :coinTossBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will David Tyree's catch in the 2008 Super Bowl be shown:<br />
		2 or fewer times: <%= f.radio_button :tyreeShownOver, true %><br />
		3 or more times: <%= f.radio_button :tyreeShownOver, false %><br />
		Bet: <%= f.select :tyreeShownOverBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will the total points scored be over or under 54.5?<br />
		Over: <%= f.radio_button :pointsOver, true %><br />
		Under: <%= f.radio_button :pointsOver, false %><br />
		Bet: <%= f.select :pointsOverBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will score first?<br />
		Patriots: <%= f.radio_button :scoreFirst, true %><br />
		Giants: <%= f.radio_button :scoreFirst, false %><br />
		Bet: <%= f.select :scoreFirstBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will score last?<br />
		Patriots: <%= f.radio_button :scoreLast, true %><br />
		Giants: <%= f.radio_button :scoreLast, false %><br />
		Bet: <%= f.select :scoreLastBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will there be any scoreless quarters?<br />
		Yes: <%= f.radio_button :anyScorelessQuarters, true %><br />
		No: <%= f.radio_button :anyScorelessQuarters, false %><br />
		Bet: <%= f.select :anyScorelessQuartersBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will the first coach's challenge be successful?<br />
		Yes: <%= f.radio_button :firstChallengeOverturned, true %><br />
		No: <%= f.radio_button :firstChallengeOverturned, false %><br />
		Bet: <%= f.select :firstChallengeOverturnedBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will the yardage of the first touchdown be:<br />
		More than 15 yards: <%= f.radio_button :firstTouchdownYardageOver, true %><br />
		15 yards or less: <%= f.radio_button :firstTouchdownYardageOver, false %><br />
		Bet: <%= f.select :firstTouchdownYardageOverBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		The longest touchdown will be:<br />
		50 or more yards: <%= f.radio_button :longestTDBet, true %><br />
		Less than 50 yards: <%= f.radio_button :longestTD, false %><br />
		Bet: <%= f.select :longestTDBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will take the first timeout?<br />
		Patriots: <%= f.radio_button :firstTimeout, true %><br />
		Giants: <%= f.radio_button :firstTimeout, false %><br />
		Bet: <%= f.select :firstTimeoutBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will commit the most turnovers?<br />
		Patriots: <%= f.radio_button :moreTurnovers, true %><br />
		Giants: <%= f.radio_button :moreTurnovers, false %><br />
		Bet: <%= f.select :moreTurnoversBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will there be any missed field goals?<br />
		Yes: <%= f.radio_button :missedFieldGoal, true %><br />
		No: <%= f.radio_button :missedFieldGoal, false %><br />
		Bet: <%= f.select :missedFieldGoalBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Will both teams have the lead at some point <b>in the first half</b>?<br />
		Yes: <%= f.radio_button :bothTeamsLeadInFirstHalf, true %><br />
		No: <%= f.radio_button :bothTeamsLeadInFirstHalf, false %><br />
		Bet: <%= f.select :bothTeamsLeadInFirstHalfBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Which team will punt more times?<br />
		Patriots: <%= f.radio_button :morePunts, true %><br />
		Giants: <%= f.radio_button :morePunts, false %><br />
		Bet: <%= f.select :morePuntsBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Which team will convert the most first downs?<br />
		Patriots: <%= f.radio_button :moreFirstDowns, true %><br />
		Giants: <%= f.radio_button :moreFirstDowns, false %><br />
		Bet: <%= f.select :moreFirstDownsBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Which value will be higher?<br />
		Receptions for Hakeem Nicks: <%= f.radio_button :hakeemNicksReceptionsOverGoalsInFlyersRangers, true %><br />
		Total goals scored in Sunday's Flyers/Rangers game: <%= f.radio_button :hakeemNicksReceptionsOverGoalsInFlyersRangers, false %><br />
		Bet: <%= f.select :hakeemNicksReceptionsOverGoalsInFlyersRangersBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Who will catch a pass first?<br />
		Hakeem Nicks: <%= f.radio_button :nicksCatchBeforeWelker, true %><br />
		Wes Welker: <%= f.radio_button :nicksCatchBeforeWelker, false %><br />
		Bet: <%= f.select :nicksCatchBeforeWelkerBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Which quarterback will be first to reach 100 passing yards?<br />
		Tom Brady: <%= f.radio_button :bradyFirstTo100Yards, true %><br />
		Eli Manning: <%= f.radio_button :bradyFirstTo100Yards, false %><br />
		Bet: <%= f.select :bradyFirstTo100YardsBet, (1..20).to_a %>
	</div>
	
	<div class="field">
		Which value will be higher?<br />
		Receptions for Wes Welker: <%= f.radio_button :welkerReceptionsOverLebronAssists, true %><br />
	    Number of assists for Lebron James in Sunday's Heat/Raptors game: <%= f.radio_button :welkerReceptionsOverLebronAssists, false %><br />
		Bet: <%= f.select :welkerReceptionsOverLebronAssistsBet, (1..20).to_a %>
	</div>
	
	<div class="actions">
		<%= f.submit "Update bets" %>
	</div>
<% end %>
