<h1>Enter updated results:</h1>

<%= form_for(@result) do |f| %>
	<%= f.error_messages %>
<div class="field">
	Will the national anthem be shorter than 1 minute, 35 seconds?<br />
	Yes: <%= f.radio_button :anthemOverResult, true %><br />
	No: <%= f.radio_button :anthemOverResult, false %><br />
</div>

<div class="field">
	Who will win the coin toss?<br />
	Patriots: <%= f.radio_button :coinTossResult, true %><br />
	Giants: <%= f.radio_button :coinTossResult, false %><br />
</div>

<div class="field">
	Will David Tyree's catch in the 2008 Super Bowl be shown:<br />
	1 or 0 times: <%= f.radio_button :tyreeShownOverResult, true %><br />
	2 or more times: <%= f.radio_button :tyreeShownOverResult, false %><br />
</div>

<div class="field">
	Will the total points scored be over or under 54.5?<br />
	Over: <%= f.radio_button :pointsOverResult, true %><br />
	Under: <%= f.radio_button :pointsOverResult, false %><br />
</div>

<div class="field">
	Who will score first?<br />
	Patriots: <%= f.radio_button :scoreFirstResult, true %><br />
	Giants: <%= f.radio_button :scoreFirstResult, false %><br />
</div>

<div class="field">
	Who will score last?<br />
	Patriots: <%= f.radio_button :scoreLastResult, true %><br />
	Giants: <%= f.radio_button :scoreLastResult, false %><br />
</div>

<div class="field">
	Will there be any scoreless quarters?<br />
	Yes: <%= f.radio_button :anyScorelessQuartersResult, true %><br />
	No: <%= f.radio_button :anyScorelessQuartersResult, false %><br />
</div>

<div class="field">
	Who will win with the spread (Patriots -3.5)?<br />
	Yes: <%= f.radio_button :firstChallengeOverturnedResult, true %><br />
	No: <%= f.radio_button :firstChallengeOverturnedResult, false %><br />
</div>

<div class="field">
	Will the yardage of the first touchdown be:<br />
	More than 15 yards: <%= f.radio_button :firstTouchdownYardageOverResult, true %><br />
	15 yards or less: <%= f.radio_button :firstTouchdownYardageOverResult, false %><br />
</div>

<div class="field">
	The longest touchdown will be:<br />
	50 or more yards: <%= f.radio_button :longestTDResult, true %><br />
	Less than 50 yards: <%= f.radio_button :longestTDResult, false %><br />
</div>

<div class="field">
	Who will take the first timeout?<br />
	Patriots: <%= f.radio_button :firstTimeoutResult, true %><br />
	Giants: <%= f.radio_button :firstTimeoutResult, false %><br />
</div>

<div class="field">
	Who will commit the most turnovers?<br />
	Patriots: <%= f.radio_button :moreTurnoversResult, true %><br />
	Giants: <%= f.radio_button :moreTurnoversResult, false %><br />
</div>

<div class="field">
	Will there be any missed field goals?<br />
	Yes: <%= f.radio_button :missedFieldGoalResult, true %><br />
	No: <%= f.radio_button :missedFieldGoalResult, false %><br />
</div>

<div class="field">
	Will both teams have the lead at some point <b>in the first half</b>?<br />
	Yes: <%= f.radio_button :bothTeamsLeadInFirstHalfResult, true %><br />
	No: <%= f.radio_button :bothTeamsLeadInFirstHalfResult, false %><br />
</div>

<div class="field">
	Which team will punt more times?<br />
	Patriots: <%= f.radio_button :morePuntsResult, true %><br />
	Giants: <%= f.radio_button :morePuntsResult, false %><br />
</div>

<div class="field">
	Which team will convert the most first downs?<br />
	Patriots: <%= f.radio_button :moreFirstDownsResult, true %><br />
	Giants: <%= f.radio_button :moreFirstDownsResult, false %><br />
</div>

<div class="field">
	Which value will be higher?<br />
	Receptions for Hakeem Nicks: <%= f.radio_button :hakeemNicksReceptionsOverGoalsInFlyersRangersResult, true %><br />
	Total goals scored in Sunday's Flyers/Rangers game: <%= f.radio_button :hakeemNicksReceptionsOverGoalsInFlyersRangersResult, false %><br />
</div>

<div class="field">
	Who will catch a pass first?<br />
	Hakeem Nicks: <%= f.radio_button :nicksCatchBeforeWelkerResult, true %><br />
	Wes Welker: <%= f.radio_button :nicksCatchBeforeWelkerResult, false %><br />
</div>

<div class="field">
	Which quarterback will be first to reach 100 passing yards?<br />
	Tom Brady: <%= f.radio_button :bradyFirstTo100YardsResult, true %><br />
	Eli Manning: <%= f.radio_button :bradyFirstTo100YardsResult, false %><br />
</div>

<div class="field">
	Which value will be higher?<br />
	Receptions for Wes Welker: <%= f.radio_button :welkerReceptionsOverLebronAssistsResult, true %><br />
    Number of assists for Lebron James in Sunday's Heat/Raptors game: <%= f.radio_button :welkerReceptionsOverLebronAssistsResult, false %><br />
</div>

<div class="actions">
	<%= f.submit "Update results" %>
</div>

<% end %>
