<h1>Enter results:</h1>

<%= form_for(@result) do |f| %>
	<%= f.error_messages %>
<div class="field">
	Will the national anthem be shorter than 2 minutes, 10 seconds?<br />
	Yes: <%= f.radio_button :anthemOverResult, true %><br />
	No: <%= f.radio_button :anthemOverResult, false %><br />
</div>

<div class="field">
	How many times will someone on the broadcast refer to this game as "HarBowl" or the "Harbaugh Bowl"? (between opening kickoff and final whistle, not counting commercials or halftime)<br />
	2 or fewer: <%= f.radio_button :harbowlResult, true %><br />
	3 or more: <%= f.radio_button :harbowlResult, false %><br />
</div>

<div class="field">
	Who will win the coin toss?<br />
	49ers: <%= f.radio_button :coinTossResult, true %><br />
	Ravens: <%= f.radio_button :coinTossResult, false %><br />
</div>

<div class="field">
	Will the total points scored be over or under 48.5?<br />
	Over: <%= f.radio_button :pointsOverResult, true %><br />
	Under: <%= f.radio_button :pointsOverResult, false %><br />
</div>

<div class="field">
	Who will score first?<br />
	49ers: <%= f.radio_button :scoreFirstResult, true %><br />
	Ravens: <%= f.radio_button :scoreFirstResult, false %><br />
</div>

<div class="field">
	Who will score last?<br />
	49ers: <%= f.radio_button :scoreLastResult, true %><br />
	Ravens: <%= f.radio_button :scoreLastResult, false %><br />
</div>

<div class="field">
	Will there be any scoreless quarters?<br />
	Yes: <%= f.radio_button :anyScorelessQuartersResult, true %><br />
	No: <%= f.radio_button :anyScorelessQuartersResult, false %><br />
</div>

<div class="field">
	Who will win with the spread (49ers -4.5)?<br />
	Yes: <%= f.radio_button :spreadResult, true %><br />
	No: <%= f.radio_button :spreadResult, false %><br />
</div>

<div class="field">
	Will the yardage of the first touchdown be:<br />
	More than 15 yards: <%= f.radio_button :firstTouchdownYardageOverResult, true %><br />
	15 yards or less: <%= f.radio_button :firstTouchdownYardageOverResult, false %><br />
</div>

<div class="field">
	The longest touchdown will be:<br />
	50 or more yards: <%= f.radio_button :longestTDResult, true %><br />
	Less than 50 yards: <%= f.radio_button :longestTDResult, false %><br />
</div>

<div class="field">
	Who will take the first timeout?<br />
	49ers: <%= f.radio_button :firstTimeoutResult, true %><br />
	Ravens: <%= f.radio_button :firstTimeoutResult, false %><br />
</div>

<div class="field">
	Who will commit the most turnovers?<br />
	49ers: <%= f.radio_button :moreTurnoversResult, true %><br />
	Ravens: <%= f.radio_button :moreTurnoversResult, false %><br />
</div>

<div class="field">
	Will there be any missed field goals?<br />
	Yes: <%= f.radio_button :missedFieldGoalResult, true %><br />
	No: <%= f.radio_button :missedFieldGoalResult, false %><br />
</div>

<div class="field">
	Will both teams have the lead at some point <b>in the first half</b>?<br />
	Yes: <%= f.radio_button :bothTeamsLeadInFirstHalfResult, true %><br />
	No: <%= f.radio_button :bothTeamsLeadInFirstHalfResult, false %><br />
</div>

<div class="field">
	Which team will punt more times?<br />
	49ers: <%= f.radio_button :morePuntsResult, true %><br />
	Ravens: <%= f.radio_button :morePuntsResult, false %><br />
</div>

<div class="field">
	Which team will convert the most first downs?<br />
	49ers: <%= f.radio_button :moreFirstDownsResult, true %><br />
	Ravens: <%= f.radio_button :moreFirstDownsResult, false %><br />
</div>

<div class="field">
	Which value will be higher?<br />
	Number of yards gained by Randy Moss - 7: <%= f.radio_button :mossVersusBryantResult, true %><br />
	Number of points Kobe Bryant scores against Detroit tonight: <%= f.radio_button :mossVersusBryantResult, false %><br />
</div>

<div class="field">
	Who will catch a pass first?<br />
	Michael Crabtree: <%= f.radio_button :firstCatchResult, true %><br />
	Anquan Boldin: <%= f.radio_button :firstCatchResult, false %><br />
</div>

<div class="field">
	Which quarterback will be first to reach 100 passing yards?<br />
	Kaepernick: <%= f.radio_button :firstTo100YardsResult, true %><br />
	Flacco: <%= f.radio_button :firstTo100YardsResult, false %><br />
</div>

<div class="actions">
	<%= f.submit "Register results" %>
</div>

<% end %>
